
@{
    ViewBag.Title = "SearchRestaurants";
}

<h2>SearchRestaurants</h2>
<form action="~/Customer/SearchRestaurants">
    <input type="text" name="city">
    <input type="submit" value="Search" />
</form>

