
@{
    ViewBag.Title = "AddCategoryForm";
}

<h2>Add Category Form</h2>

<form action="~/Restaurant/AddCategory">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add category" />
            </td>
        </tr>
    </table>
</form>

