
@{
    ViewBag.Title = "AddIngredientForm";
}

<h2>Add Ingredient Form</h2>
<form action="~/Restaurant/AddIngredient">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" name="name" required/>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>
                <input type="text" name="price" required />
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
</form>

