@{
    ViewBag.Title = "AddSubcategoryForm";
}

<h2>Add Subcategory Form</h2>
<form action="~/Restaurant/AddSubcategory">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add subcategory" />
            </td>
        </tr>
    </table>
</form>

