
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Restaurant/ListRestaurants">Restaurants</a>
<a href="~/Restaurant/ListCategories">Categories</a>
<a href="~/Customer/SearchRestaurantsForm">Search</a>

